*{
    box-sizing: border-box;

    --bcg: #fdfdfd;
    --text-color: rgb(36, 36, 36);
}

html,
body{
    background-color: var(--bcg);
}

.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-rpw{
    flex-direction: row;
}

.box{
    padding: 1rem 1rem;
    border: 1px solid var(--text-color);
}

.box .title{
    margin: 0 0;
    padding: 0 0;
    margin-bottom: 0.8rem;
    color: var(--text-color);
}

.box-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--bcg);
    margin-bottom: 1rem;
    border-bottom:1px solid ;
}

.box-header .title{
    margin-left: auto;
}

.box-header .header-actions{
    display: flex;
    align-items: center;
}

.box-content{
    width: 100%;
}

.items{
    display: flex;
    flex-direction: column;
}

.item{
    width: 100%;
    max-width: 800px;
    padding: 0.8rem 0.8rem;
    border-bottom: 1px solid rgba(99, 99, 99, 0.8);
}

.item:nth-child(2n + 1){
    background-color: rgb(223, 223, 223);
}

.item .item-h{
    margin-right:5px;
    display: flex;
    padding: 0.1rem 0.1rem;
    flex-direction: row;
}

.item .label{
    min-width: 50px;
    padding-right: 0.24rem;
    color: rgb(61, 61, 61);
}

.item .value{
    color: var(--text-color);
}

.item .actions{
    padding-top: 1.58rem;
}

.item .combo-item{
    /* justify-content: space-around; */
}

.item .combo-item .item-h:not(:first-child){
    margin-left: auto;
    margin-right: auto;
}

/* Btns */

.btn{
    padding: 0.2rem 0.6rem;
    margin: 3px 3px 0 0;
    text-decoration: none;
    font-size: 0.96rem;
    border:none;
    cursor: pointer;
}

.btn.edit{
    color: #fff;
    background-color: rgb(53, 106, 141);
}

.btn.remove{
    background-color: rgb(224, 144, 24);
    color: #fff;
}

.btn.add{
    background-color: rgb(19, 168, 6);
    color: #fff;
}

.btn.light{
    background-color: rgb(59, 59, 59);
    color: #fff;
}

/* Margins */
.ml-auto{
    margin-left: auto;
}

.mr-auto{
    margin-right: auto;
}

.mt-auto{
    margin-top: auto;
}

.mb-auto{
    margin-bottom: auto;
}

/* Form */
.custom-input{
    max-width: 250px;
    display: flex;
    margin-bottom: 0.6rem;
    flex-direction: column;
}

.custom-input input,
.custom-input select{
    border: 1px solid rgba(99, 99, 99, 0.2);
    height: 30px;
}

/* Poltrona */
.poltrona{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px 3px;
    background-color: green;
}

.poltrona.selecionado{
    background-color: rgb(25, 107, 201);
}

.poltrona.indisponivel{
    background-color: red;
}

.onibus-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
}

.onibus-info .item-h{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flash-msg{
    margin: 1rem auto;
    max-width: 300px;
    padding: 1rem 1rem;
    border: 1px solid;
    text-align: center;
}